@font-face {
  font-family: 'AvenirNext-Regular';
  src: url("../fonts/AvenirNext-Regular/AvenirNext-Regular.woff") format("woff"), url("../fonts/AvenirNext-Regular/AvenirNext-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'AvenirNext-UltraLight';
  src: url("../fonts/AvenirNext-UltraLight/AvenirNext-UltraLight.woff") format("woff"), url("../fonts/AvenirNext-UltraLight/AvenirNext-UltraLight.ttf") format("truetype"); }

html, body {
  overflow-x: hidden; }

@media (max-width: 767px) {
  .btn-primary, .btn-primary-reverse {
    font-size: 250%; }
  .color-swatch-selection-table {
    width: 80px;
    height: 80px; }
  .swatch-selection-container {
    padding: 5px; }
  .swatch-selection-table {
    border-spacing: 5px; } }

@media (min-width: 768px) {
  h1 {
    font-size: 600%; }
  h2 {
    font-size: 450%; }
  h3 {
    font-size: 300%; }
  h4 {
    font-size: 140%; }
  p {
    font-size: 250%; }
  p.large {
    font-size: 300%; }
  .btn-primary, .btn-primary-reverse {
    font-size: 400%; }
  .text-field, .dropdown-select select {
    height: 55px; }
  .xs-hidden {
    display: block; }
  .md-hidden {
    display: none; }
  .color-swatch-selection-table {
    width: 140px;
    height: 140px; }
  .swatch-selection-container {
    padding: 10px; }
  .swatch-selection-table {
    border-spacing: 20px; }
  .banner {
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: black;
    background-position: center top;
    background-size: contain; }
  .banner-logo {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    margin: auto;
    width: 30%; } }

@media (min-width: 992px) {
  h1 {
    font-size: 400%; }
  h2 {
    font-size: 250%; }
  h3 {
    font-size: 210%; }
  h4 {
    font-size: 170%; }
  p {
    font-size: 120%; }
  p.large {
    font-size: 140%; }
  p.xlarge {
    font-size: 160%; }
  .btn-primary, .btn-primary-reverse {
    font-size: 180%; }
  .text-field, .dropdown-select select {
    height: 60px; }
  .xs-hidden {
    display: block; }
  .md-hidden {
    display: none; }
  .color-swatch-selection-table {
    width: 70px;
    height: 70px; }
  .swatch-selection-container {
    padding: 5px; }
  .swatch-selection-table {
    border-spacing: 5px; } }

@media (min-width: 1200px) {
  h1 {
    font-size: 500%; }
  h2 {
    font-size: 300%; }
  h3 {
    font-size: 250%; }
  h4 {
    font-size: 200%; }
  p {
    font-size: 130%; }
  p.large {
    font-size: 150%; }
  p.xlarge {
    font-size: 180%; }
  .btn-primary, .btn-primary-reverse {
    font-size: 400%; }
  .text-field, .dropdown-select select {
    height: 65px; }
  .xs-hidden {
    display: block; }
  .md-hidden {
    display: none; }
  .color-swatch-selection-table {
    width: 80px;
    height: 80px; }
  .swatch-selection-container {
    padding: 10px; }
  .swatch-selection-table {
    border-spacing: 10px; } }

.swatch-selected {
  border: 2px solid black !important; }

body {
  font-family: "AvenirNext-UltraLight"; }

.article-image-wrapper {
  margin: 50px 0px 0px 0px;
  position: relative; }
  .article-image-wrapper:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 50%; }
  .article-image-wrapper > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.article-image {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover; }

#article-content {
  margin: 0px 0px 100px 0px; }

.attachment-container {
  display: block;
  margin: 50px 0px 0px 0px; }

.attachment-intro {
  text-align: center;
  padding: 0px 5%;
  margin: 0px 0px 20px 0px; }

.row .panel {
  float: none;
  display: table-cell;
  vertical-align: middle;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.attachment-image {
  width: 100%; }

.intro {
  padding: 100px 10%; }

.article-intro {
  padding: 50px 10% 0px 10%; }

tr.notopborder > td {
  border-top: none !important; }

.logo-img {
  width: auto;
  height: 100%; }

.article-title {
  margin-top: 50px; }

.look-title {
  margin-top: 100px; }

.product-title {
  margin-top: 100px; }

.product-subtitle {
  margin-top: 0px; }

.fill-rest-container {
  flex: 1;
  -webkit-flex: 1; }

.look-image-wrapper {
  margin: auto;
  position: relative; }
  .look-image-wrapper:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 50.92316855%; }
  .look-image-wrapper > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.product-image-wrapper {
  margin: auto;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: contain;
  margin: 20px 0px; }
  .product-image-wrapper:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 50.92316855%; }
  .product-image-wrapper > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.product-image {
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: contain; }

.product-tryon-button-container {
  background-color: white;
  height: 85px;
  border-top: 40px solid white; }

.tryon-button-container {
  background-color: white;
  height: 100px;
  border-top: 50px solid #EDEBEB; }

.square {
  margin: auto;
  position: relative; }
  .square:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%; }
  .square > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.look-image {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover; }

.makeup-table {
  margin: 50px 0px; }

.table > tbody > tr:first-child > td {
  border: none; }

.center-container {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center; }

.header-wrapper {
  margin: auto;
  position: relative; }
  .header-wrapper:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 14.28571429%; }
  .header-wrapper > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.header-container {
  display: flex;
  display: -webkit-flex; }

.user-info-container {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column; }

p.user-name {
  margin: 0px; }

.product-image-container {
  width: 50%;
  height: 50%; }

.product-image {
  width: 70%; }

.style-image {
  width: 100%; }

.text-center {
  text-align: center; }

img.center {
  display: block;
  margin: 0 auto; }

.center {
  margin: 0 auto; }

.inline {
  display: inline; }

.swatch-container {
  display: flex;
  display: -webkit-flex;
  width: 60%; }

.swatch-selection-container {
  display: block;
  overflow: scroll;
  -webkit-overflow-scrolling: touch; }

.swatch-selection-table {
  display: block;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 10 !important;
  border-collapse: separate;
  white-space: nowrap; }
  .swatch-selection-table td {
    padding: 1px; }

.half-width {
  width: 50%;
  height: 100%; }

.user-image {
  height: 70%; }

.img-circle {
  border-radius: 50%; }

.color-swatch {
  width: 50%;
  height: 50%;
  empty-cells: show; }
  .color-swatch td {
    width: 50%;
    height: 50%; }

.color-swatch-selection td {
  width: 50%;
  height: 50%; }

.look-info-wrapper {
  margin: auto;
  position: relative; }
  .look-info-wrapper:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 14.28571429%; }
  .look-info-wrapper > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.look-info-container {
  width: 100%;
  background-color: #EDEBEB;
  display: flex;
  display: -webkit-flex;
  padding: 0 5%; }

.article-info-wrapper {
  margin: auto;
  position: relative; }
  .article-info-wrapper:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 12.5%; }
  .article-info-wrapper > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.article-info-container {
  width: 100%;
  background-color: #EDEBEB;
  display: flex;
  display: -webkit-flex;
  padding: 0 5%; }

.user-name-container {
  margin-left: 5%; }

.right-container {
  margin-left: auto; }

.shift-up {
  position: relative;
  top: -25px; }

.language-list {
  margin-bottom: 0em !important;
  margin-right: 1em; }
  .language-list select {
    font-size: 200%; }

.wrapper {
  overflow-x: hidden; }

.banner-wrapper {
  position: relative;
  margin: auto; }
  .banner-wrapper:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 50.92316855%; }
  .banner-wrapper > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.banner-wrapper1 {
  position: relative;
  margin: auto; }
  .banner-wrapper1:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 14.29422275%; }
  .banner-wrapper1 > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.banner1 {
  background-image: url("../img/banner1.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-size: contain;
  background-color: black; }

.banner-wrapper2 {
  position: relative;
  margin: auto;
  min-height: 150px; }
  .banner-wrapper2:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 17.39130435%; }
  .banner-wrapper2 > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.banner2 {
  background-image: url("../img/banner2.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-size: cover;
  background-color: black; }

.half-width-container {
  margin: auto;
  height: 100%;
  width: 50%; }

.right-container {
  float: right; }

.left-container {
  float: left; }

.banner-logo2 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  margin: auto;
  width: 40%; }

.fill-width {
  width: 100%; }

.scene-container {
  margin: 30px 30px; }

.row .no-float {
  height: 100%;
  float: none; }

.header-horizontal-line {
  height: 1px;
  width: 90%;
  background-color: #ffffff;
  margin: 0 auto;
  display: block; }

.half-height-container {
  height: 50%;
  display: block;
  margin-left: 5%;
  margin-right: 5%; }

.bold {
  font-family: "AvenirNext-Regular"; }

.header-title {
  text-align: right; }

.md-hidden .header-title {
  text-align: center; }

.main-top {
  background-color: #000000; }

.main-bottom {
  background-color: #ffffff; }

p {
  font-family: "AvenirNext-UltraLight";
  font-weight: 100;
  color: #000000; }

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap; }

.shopping-detail {
  padding: 10px 80px; }

.btn-primary, .btn-primary-reverse {
  color: black;
  background-color: white;
  border-color: black;
  font-family: "AvenirNext-UltraLight";
  font-weight: 100;
  padding: 10px 30px 10px;
  border-radius: 0px;
  border: 0px;
  width: 80%;
  margin: 0px 10%; }
  .btn-primary:focus, .btn-primary-reverse:focus, .btn-primary.focus, .focus.btn-primary-reverse {
    color: black;
    background-color: #e6e5e5;
    border-color: black; }
  .btn-primary:hover, .btn-primary-reverse:hover {
    color: black;
    background-color: #e6e5e5;
    border-color: black; }
  .btn-primary:active, .btn-primary-reverse:active, .btn-primary.active, .active.btn-primary-reverse,
  .open > .btn-primary.dropdown-toggle,
  .open > .dropdown-toggle.btn-primary-reverse {
    color: black;
    background-color: #e6e5e5;
    border-color: black; }
    .btn-primary:active:hover, .btn-primary-reverse:active:hover, .btn-primary:active:focus, .btn-primary-reverse:active:focus, .btn-primary:active.focus, .btn-primary-reverse:active.focus, .btn-primary.active:hover, .active.btn-primary-reverse:hover, .btn-primary.active:focus, .active.btn-primary-reverse:focus, .btn-primary.active.focus, .active.focus.btn-primary-reverse,
    .open > .btn-primary.dropdown-toggle:hover,
    .open > .dropdown-toggle.btn-primary-reverse:hover,
    .open > .btn-primary.dropdown-toggle:focus,
    .open > .dropdown-toggle.btn-primary-reverse:focus,
    .open > .btn-primary.dropdown-toggle.focus,
    .open > .dropdown-toggle.focus.btn-primary-reverse {
      color: black;
      background-color: #d4d4d4;
      border-color: black; }
  .btn-primary:active, .btn-primary-reverse:active, .btn-primary.active, .active.btn-primary-reverse,
  .open > .btn-primary.dropdown-toggle,
  .open > .dropdown-toggle.btn-primary-reverse {
    background-image: none; }
  .btn-primary.disabled:hover, .disabled.btn-primary-reverse:hover, .btn-primary.disabled:focus, .disabled.btn-primary-reverse:focus, .btn-primary.disabled.focus, .disabled.focus.btn-primary-reverse, .btn-primary[disabled]:hover, [disabled].btn-primary-reverse:hover, .btn-primary[disabled]:focus, [disabled].btn-primary-reverse:focus, .btn-primary[disabled].focus, [disabled].focus.btn-primary-reverse,
  fieldset[disabled] .btn-primary:hover,
  fieldset[disabled] .btn-primary-reverse:hover,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary-reverse:focus,
  fieldset[disabled] .btn-primary.focus,
  fieldset[disabled] .focus.btn-primary-reverse {
    background-color: white;
    border-color: black; }
  .btn-primary .badge, .btn-primary-reverse .badge {
    color: white;
    background-color: black; }

.btn-primary-reverse {
  color: white;
  background-color: black;
  border-color: white; }
  .btn-primary-reverse:focus, .btn-primary-reverse.focus {
    color: white;
    background-color: black;
    border-color: #bfbfbf; }
  .btn-primary-reverse:hover {
    color: white;
    background-color: black;
    border-color: #e0e0e0; }
  .btn-primary-reverse:active, .btn-primary-reverse.active,
  .open > .btn-primary-reverse.dropdown-toggle {
    color: white;
    background-color: black;
    border-color: #e0e0e0; }
    .btn-primary-reverse:active:hover, .btn-primary-reverse:active:focus, .btn-primary-reverse:active.focus, .btn-primary-reverse.active:hover, .btn-primary-reverse.active:focus, .btn-primary-reverse.active.focus,
    .open > .btn-primary-reverse.dropdown-toggle:hover,
    .open > .btn-primary-reverse.dropdown-toggle:focus,
    .open > .btn-primary-reverse.dropdown-toggle.focus {
      color: white;
      background-color: black;
      border-color: #bfbfbf; }
  .btn-primary-reverse:active, .btn-primary-reverse.active,
  .open > .btn-primary-reverse.dropdown-toggle {
    background-image: none; }
  .btn-primary-reverse.disabled:hover, .btn-primary-reverse.disabled:focus, .btn-primary-reverse.disabled.focus, .btn-primary-reverse[disabled]:hover, .btn-primary-reverse[disabled]:focus, .btn-primary-reverse[disabled].focus,
  fieldset[disabled] .btn-primary-reverse:hover,
  fieldset[disabled] .btn-primary-reverse:focus,
  fieldset[disabled] .btn-primary-reverse.focus {
    background-color: black;
    border-color: white; }
  .btn-primary-reverse .badge {
    color: black;
    background-color: white; }

.center-block-text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 100%;
  padding: 0px 10px;
  text-align: center; }

.btn-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.store-button {
  display: block;
  min-height: 100px;
  position: relative;
  margin: 80px 0px; }

.add-to-cart-button {
  display: block;
  min-height: 100px;
  position: relative; }

.text-dark {
  color: black; }

li:hover {
  border-top-color: #03f;
  background-color: #bdf; }

.modal-dialog {
  overflow-y: initial !important; }

.modal-body {
  max-height: calc(100vh - 200px);
  overflow-y: auto; }

.country-list {
  border: 0px;
  font-size: 150%;
  width: 100%; }

.product-arrow {
  font-weight: 100;
  font-size: 800%;
  color: grey; }

.row-eq-height {
  display: table; }

.vertical-align {
  display: flex;
  align-items: center; }

.vcenter {
  vertical-align: middle; }

.row-eq-height .table-cell {
  display: table-cell;
  float: none;
  vertical-align: top; }

.flexslider .slides img {
  border: 1px solid #ffffff; }

.top-icon-container {
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px; }

.top-icon-container.scrolled {
  background-color: #777 !important;
  transition: background-color 200ms linear; }

.bottom-icon-container {
  width: 100%;
  z-index: 100;
  position: fixed;
  bottom: 0px;
  text-align: center;
  background-color: #777;
  padding-bottom: 10px;
  padding-top: 10px; }

.social-container {
  width: 100%;
  text-align: center;
  padding: 50px 10px 50px 10px; }

.social-icon {
  padding: 0px 20px; }
  .social-icon img {
    width: 50px;
    height: 50px; }

.shopping-bag {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px; }

.shopping-bag .btn-center {
  height: 26px;
  width: 26px; }

.shopping-bag-btn, .shopping-bag-btn-only {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  background-size: cover;
  background-position: center center;
  background-image: url("../img/shopping-bag.png");
  text-align: center;
  height: 31px;
  width: 27px;
  padding: 12px 0px 0px 0px;
  border: none;
  background-color: Transparent;
  color: white;
  font-family: "AvenirNext-Regular"; }

.shopping-bag-btn-only {
  margin-left: 0px; }

.country-only {
  margin-right: 0px; }

.country, .country-only {
  display: inline-block;
  vertical-align: middle; }
  .country h3, .country-only h3 {
    font-size: 32px;
    padding-top: 6px;
    margin: 0px; }

.product-images {
  margin: 40px 0px 0px 0px; }

.messages .success {
  color: green; }

.messages .error {
  color: red; }

.product-info {
  margin: 30px 0px; }

.block-center {
  display: block;
  text-align: center; }

p.block-center {
  margin: 40px 10px 0px 10px; }

.scene-image {
  width: 100%;
  padding: 10px 10px; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

.full-width {
  width: 100%; }

.breadcrumb {
  padding: 8px 15px;
  list-style: none;
  background-color: #000000;
  border-radius: 0px;
  margin-bottom: 0px; }

.breadcrumb > li {
  display: inline-block; }

.breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #ccc; }

.breadcrumb > .active {
  color: #777777; }

.thumbnail {
  display: block;
  padding: 0px;
  margin: 10px 0px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.basket-content {
  background-color: #000;
  padding: 40px 40px; }

.align-right {
  text-align: right; }

.zen-detail {
  text-align: center; }

.checkout-main {
  background-color: #000000; }
  .checkout-main h4 {
    margin-top: 50px; }
  .checkout-main p.large {
    margin-top: 20px; }

.checkout-content {
  padding: 0px 50px;
  margin: 50px 0px; }

.text-field, .dropdown-select select {
  font-size: 20px;
  border-radius: 0px;
  margin: 0px 0px 0px 0px;
  background-color: #000; }

.checkout-form {
  margin: 60px 0px; }

.form-submit {
  margin: 60px 0px 0px 0px; }

.order-summary {
  border-left: 1px solid #555555; }

.basket-items-container {
  border-top: 1px solid #555555;
  border-bottom: 1px solid #555555;
  padding-top: 10px;
  padding-bottom: 10px; }

.checkout-error {
  color: red; }

.dropdown-select select {
  background: #000;
  border: 1px solid #ccc;
  border-radius: 0px;
  -webkit-appearance: none; }

.row .form-group {
  margin-bottom: 30px; }

.exp-month-fields {
  margin-left: 15px;
  margin-right: 15px; }

#id_expiry_month_0 {
  display: inline-block;
  width: 50%;
  margin-left: -15px;
  margin-right: 13px; }

#id_expiry_month_1 {
  display: inline-block;
  width: 50%;
  margin-left: 13px;
  margin-right: -15px; }

.carousel-indicators li {
  border: 1px solid black;
  background-color: white; }

.carousel-indicators .active {
  background-color: black; }

.carousel-indicators {
  bottom: -50px; }

.carousel-inner {
  margin-bottom: 50px; }
  .carousel-inner .item {
    margin-top: 50px; }

.stripe-element {
  font-size: 20px;
  border-radius: 0px;
  margin: 0px 0px 0px 0px;
  background-color: #000;
  height: 65px;
  font-family: "AvenirNext-UltraLight";
  margin: 0px;
  border: 1px solid #ccc; }

.stripe-form-control {
  padding: 6px 12px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
  text-decoration: none; }

a {
  color: white; }

a:hover,
a:focus,
a:active,
a.active {
  color: white; }

.title {
  color: black; }

.titlesection {
  text-align: right; }

.download-titlesection {
  text-align: left; }

.top-buffer {
  margin-top: 200px; }

.download-buttons-top-buffer {
  margin-top: 20px; }

.subtitle {
  color: #E63466; }

.img-centered {
  margin: 0 auto; }

.bg-light-gray {
  background-color: #eeeeee; }

.bg-darkest-gray {
  background-color: #222222; }

.btn-secondary, .btn-secondary-disabled {
  color: #555555;
  background-color: white;
  border-color: white;
  font-weight: 100;
  border: 1px solid #777777;
  padding: 10px 40px 10px 40px;
  margin-right: 20px; }
  .btn-secondary:focus, .btn-secondary-disabled:focus, .btn-secondary.focus, .focus.btn-secondary-disabled {
    color: #555555;
    background-color: #e6e5e5;
    border-color: #bfbfbf; }
  .btn-secondary:hover, .btn-secondary-disabled:hover {
    color: #555555;
    background-color: #e6e5e5;
    border-color: #e0e0e0; }
  .btn-secondary:active, .btn-secondary-disabled:active, .btn-secondary.active, .active.btn-secondary-disabled,
  .open > .btn-secondary.dropdown-toggle,
  .open > .dropdown-toggle.btn-secondary-disabled {
    color: #555555;
    background-color: #e6e5e5;
    border-color: #e0e0e0; }
    .btn-secondary:active:hover, .btn-secondary-disabled:active:hover, .btn-secondary:active:focus, .btn-secondary-disabled:active:focus, .btn-secondary:active.focus, .btn-secondary-disabled:active.focus, .btn-secondary.active:hover, .active.btn-secondary-disabled:hover, .btn-secondary.active:focus, .active.btn-secondary-disabled:focus, .btn-secondary.active.focus, .active.focus.btn-secondary-disabled,
    .open > .btn-secondary.dropdown-toggle:hover,
    .open > .dropdown-toggle.btn-secondary-disabled:hover,
    .open > .btn-secondary.dropdown-toggle:focus,
    .open > .dropdown-toggle.btn-secondary-disabled:focus,
    .open > .btn-secondary.dropdown-toggle.focus,
    .open > .dropdown-toggle.focus.btn-secondary-disabled {
      color: #555555;
      background-color: #d4d4d4;
      border-color: #bfbfbf; }
  .btn-secondary:active, .btn-secondary-disabled:active, .btn-secondary.active, .active.btn-secondary-disabled,
  .open > .btn-secondary.dropdown-toggle,
  .open > .dropdown-toggle.btn-secondary-disabled {
    background-image: none; }
  .btn-secondary.disabled:hover, .disabled.btn-secondary-disabled:hover, .btn-secondary.disabled:focus, .disabled.btn-secondary-disabled:focus, .btn-secondary.disabled.focus, .disabled.focus.btn-secondary-disabled, .btn-secondary[disabled]:hover, [disabled].btn-secondary-disabled:hover, .btn-secondary[disabled]:focus, [disabled].btn-secondary-disabled:focus, .btn-secondary[disabled].focus, [disabled].focus.btn-secondary-disabled,
  fieldset[disabled] .btn-secondary:hover,
  fieldset[disabled] .btn-secondary-disabled:hover,
  fieldset[disabled] .btn-secondary:focus,
  fieldset[disabled] .btn-secondary-disabled:focus,
  fieldset[disabled] .btn-secondary.focus,
  fieldset[disabled] .focus.btn-secondary-disabled {
    background-color: white;
    border-color: white; }
  .btn-secondary .badge, .btn-secondary-disabled .badge {
    color: white;
    background-color: #555555; }

.btn-secondary-disabled {
  color: #777777;
  background-color: #eeeeee;
  border-color: #555555; }
  .btn-secondary-disabled:focus, .btn-secondary-disabled.focus {
    color: #777777;
    background-color: #d5d5d5;
    border-color: #161616; }
  .btn-secondary-disabled:hover {
    color: #777777;
    background-color: #d5d5d5;
    border-color: #373737; }
  .btn-secondary-disabled:active, .btn-secondary-disabled.active,
  .open > .btn-secondary-disabled.dropdown-toggle {
    color: #777777;
    background-color: #d5d5d5;
    border-color: #373737; }
    .btn-secondary-disabled:active:hover, .btn-secondary-disabled:active:focus, .btn-secondary-disabled:active.focus, .btn-secondary-disabled.active:hover, .btn-secondary-disabled.active:focus, .btn-secondary-disabled.active.focus,
    .open > .btn-secondary-disabled.dropdown-toggle:hover,
    .open > .btn-secondary-disabled.dropdown-toggle:focus,
    .open > .btn-secondary-disabled.dropdown-toggle.focus {
      color: #777777;
      background-color: #c3c3c3;
      border-color: #161616; }
  .btn-secondary-disabled:active, .btn-secondary-disabled.active,
  .open > .btn-secondary-disabled.dropdown-toggle {
    background-image: none; }
  .btn-secondary-disabled.disabled:hover, .btn-secondary-disabled.disabled:focus, .btn-secondary-disabled.disabled.focus, .btn-secondary-disabled[disabled]:hover, .btn-secondary-disabled[disabled]:focus, .btn-secondary-disabled[disabled].focus,
  fieldset[disabled] .btn-secondary-disabled:hover,
  fieldset[disabled] .btn-secondary-disabled:focus,
  fieldset[disabled] .btn-secondary-disabled.focus {
    background-color: #eeeeee;
    border-color: #555555; }
  .btn-secondary-disabled .badge {
    color: #eeeeee;
    background-color: #777777; }

.btn-xl {
  color: white;
  background-color: #E63466;
  border-color: #E63466;
  font-family: "AvenirNext-Regular";
  font-weight: 100;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px; }
  .btn-xl:focus, .btn-xl.focus {
    color: white;
    background-color: #ce194c;
    border-color: #8a1133; }
  .btn-xl:hover {
    color: white;
    background-color: #ce194c;
    border-color: #c51849; }
  .btn-xl:active, .btn-xl.active,
  .open > .btn-xl.dropdown-toggle {
    color: white;
    background-color: #ce194c;
    border-color: #c51849; }
    .btn-xl:active:hover, .btn-xl:active:focus, .btn-xl:active.focus, .btn-xl.active:hover, .btn-xl.active:focus, .btn-xl.active.focus,
    .open > .btn-xl.dropdown-toggle:hover,
    .open > .btn-xl.dropdown-toggle:focus,
    .open > .btn-xl.dropdown-toggle.focus {
      color: white;
      background-color: #ae1540;
      border-color: #8a1133; }
  .btn-xl:active, .btn-xl.active,
  .open > .btn-xl.dropdown-toggle {
    background-image: none; }
  .btn-xl.disabled:hover, .btn-xl.disabled:focus, .btn-xl.disabled.focus, .btn-xl[disabled]:hover, .btn-xl[disabled]:focus, .btn-xl[disabled].focus,
  fieldset[disabled] .btn-xl:hover,
  fieldset[disabled] .btn-xl:focus,
  fieldset[disabled] .btn-xl.focus {
    background-color: #E63466;
    border-color: #E63466; }
  .btn-xl .badge {
    color: #E63466;
    background-color: white; }

.navbar-custom {
  background-color: #eeeeee;
  border-color: transparent; }
  .navbar-custom .navbar-brand {
    color: #E63466;
    font-family: "Arial", "Helvetica Neue", Helvetica, Arial, cursive; }
    .navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand.active {
      color: #ce194c; }
  .navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.98); }
  .navbar-custom .navbar-toggle {
    background-color: #E63466;
    border-color: #E63466;
    font-family: "AvenirNext-Regular";
    color: white;
    font-size: 12px; }
    .navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
      background-color: #E63466; }
  .navbar-custom .nav li a {
    font-family: "AvenirNext-Regular";
    font-weight: 100;
    letter-spacing: 1px;
    color: #555555; }
    .navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
      color: #E63466;
      outline: none; }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 0;
    color: white;
    background-color: #E63466; }
  .navbar-custom .navbar-nav > .active > a:hover,
  .navbar-custom .navbar-nav > .active > a:focus {
    color: white;
    background-color: #ce194c; }

@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none; }
    .navbar-custom .navbar-brand {
      font-size: 2em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    .navbar-custom .navbar-nav > .active > a {
      border-radius: 3px; } }

@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #eeeeee;
    padding: 10px 0; }
    .navbar-custom.affix .navbar-brand {
      font-size: 1.5em; } }

header {
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center; }
  header .intro-text {
    padding-top: 10px;
    padding-bottom: 50px; }
    header .intro-text .intro-lead-in {
      font-family: "Arial", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: italic;
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 25px; }
    header .intro-text .intro-heading {
      font-family: "AvenirNext-Regular";
      font-weight: 100;
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 25px; }

@media (min-width: 768px) {
  header .intro-text {
    padding-top: 100px;
    padding-bottom: 100px; }
    header .intro-text .intro-lead-in {
      font-family: "Arial", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: italic;
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 25px; }
    header .intro-text .intro-heading {
      font-family: "AvenirNext-Regular";
      font-weight: 100;
      font-size: 75px;
      line-height: 75px;
      margin-bottom: 50px; } }

section {
  padding: 100px 0; }
  section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px; }
  section h3.section-subheading {
    font-size: 16px;
    font-family: "Arial", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 75px; }

@media (min-width: 768px) {
  section {
    padding: 150px 0; } }

.service-heading {
  margin: 15px 0;
  text-transform: none; }

#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0; }
  #portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto; }
    #portfolio .portfolio-item .portfolio-link .portfolio-hover {
      background: rgba(230, 52, 102, 0.1);
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all ease 0.5s;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s; }
      #portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
        opacity: 1; }
      #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
        position: absolute;
        width: 100%;
        height: 20px;
        font-size: 20px;
        text-align: center;
        top: 50%;
        margin-top: -12px;
        color: white; }
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
          margin-top: -12px; }
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
          margin: 0; }
  #portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding: 25px; }
    #portfolio .portfolio-item .portfolio-caption h4 {
      text-transform: none;
      margin: 0; }
    #portfolio .portfolio-item .portfolio-caption p {
      font-family: "Arial", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: italic;
      font-size: 16px;
      margin: 0; }

#portfolio * {
  z-index: 2; }

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px; } }

.vertical-align {
  display: flex;
  align-items: center; }

.timeline {
  list-style: none;
  padding: 0;
  position: relative; }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    left: 40px;
    margin-left: -1.5px; }
  .timeline > li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px; }
    .timeline > li:before, .timeline > li:after {
      content: " ";
      display: table; }
    .timeline > li:after {
      clear: both; }
    .timeline > li .timeline-panel {
      width: 100%;
      float: right;
      padding: 0 20px 0 100px;
      position: relative;
      text-align: right; }
    .timeline > li .timeline-image {
      left: 0;
      margin-left: 0;
      width: 400px;
      height: 400px;
      position: absolute;
      z-index: 100; }
      .timeline > li .timeline-image h4 {
        font-size: 10px;
        margin-top: 12px;
        line-height: 14px; }
    .timeline > li:last-child {
      margin-bottom: 0; }
  .timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit; }
    .timeline .timeline-heading h4.subheading {
      text-transform: none; }
  .timeline .timeline-body > p,
  .timeline .timeline-body > ul {
    margin-bottom: 0; }

@media (min-width: 768px) {
  .timeline:before {
    left: 50%; }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px; }
    .timeline > li .timeline-panel {
      width: 41%;
      float: left;
      padding: 0 20px 20px 30px;
      text-align: right; }
    .timeline > li .timeline-image {
      width: 100px;
      height: 100px;
      left: 50%;
      margin-left: -50px; }
      .timeline > li .timeline-image h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px; } }

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px; }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px; }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px; }
      .timeline > li .timeline-image h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px; } }

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px; }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px; }
    .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px; }
      .timeline > li .timeline-image h4 {
        margin-top: 40px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px; } }

.team-member {
  text-align: center;
  margin-bottom: 50px; }
  .team-member img {
    margin: 0 auto;
    border: 7px solid white; }
  .team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none; }
  .team-member p {
    margin-top: 0; }

aside.clients img {
  margin: 50px auto; }

p.footer-text, p.footer-text-black {
  display: block;
  width: 100%;
  color: #777777;
  font-size: 100%;
  margin: 0px;
  text-align: center; }

p.footer-text-black {
  color: #555555; }

.footer {
  margin: 0px 0px 80px 0px; }

footer {
  padding: 25px 0;
  text-align: center; }
  footer span.copyright {
    line-height: 40px;
    font-family: "AvenirNext-Regular";
    text-transform: none; }
  footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: "AvenirNext-Regular";
    text-transform: none; }

ul.social-buttons {
  margin-bottom: 0; }
  ul.social-buttons li a {
    display: block;
    background-color: #222222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: white;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
      background-color: #E63466; }

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }
