@import "variables.scss";
@import "mixins.scss";


@include font-face;

html, body {
  overflow-x: hidden;
}


@media(max-width:767px){

    .btn-primary{font-size: 250%;}

    .color-swatch-selection-table {
        width: 80px;
        height: 80px;
    }

    .swatch-selection-container {
        padding:5px;
    }

    .swatch-selection-table {
        border-spacing: 5px;
    }
}

@media(min-width:768px){
    h1{font-size: 600%;}
    h2{font-size: 450%;}
    h3{font-size: 300%;}
    h4{font-size: 140%;}
    p{font-size: 250%;}
    p.large{font-size: 300%;}
    .btn-primary{font-size: 400%;}
    .text-field {height:55px;}
    .xs-hidden{display:block;}
    .md-hidden{display:none;}


    .color-swatch-selection-table {
        width: 140px;
        height: 140px;
    }

    .swatch-selection-container {
        padding:10px;
    }

    .swatch-selection-table {
        border-spacing: 20px;
    }

    .banner {
        background-image: url('../img/banner.jpg');
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-color: black;
        background-position: center top;
        background-size: contain;
    }

    .banner-logo {
        @include vertical-align();
        display:block;
        margin: auto;
        width: 30%;
    }

}

@media(min-width:992px){
    h1{font-size: 400%;}
    h2{font-size: 250%;}
    h3{font-size: 210%;}
    h4{font-size: 170%;}
    p{font-size: 120%;}
    p.large{font-size: 140%;}
    p.xlarge{font-size: 160%;}
    .btn-primary{font-size: 180%;}
    .text-field {height:60px;}
    .xs-hidden{display:block;}
    .md-hidden{display:none;}

    .color-swatch-selection-table {
        width: 70px;
        height: 70px;
    }

    .swatch-selection-container {
        padding:5px;
    }

    .swatch-selection-table {
        border-spacing: 5px;
    }


}

@media(min-width:1200px){
    h1{font-size: 500%;}
    h2{font-size: 300%;}
    h3{font-size: 250%;}
    h4{font-size: 200%;}
    p{font-size: 130%;}
    p.large{font-size: 150%;}
    p.xlarge{font-size: 180%;}
    .btn-primary{font-size: 400%;}
    .text-field {height:65px;}
    .xs-hidden{display:block;}
    .md-hidden{display:none;}

    .color-swatch-selection-table {
        width: 80px;
        height: 80px;
    }

    .swatch-selection-container {
        padding:10px;
    }

    .swatch-selection-table {
        border-spacing: 10px;
    }
}

.color-swatch-selection-table {

}


.swatch-selected {
    border: 2px solid black !important;
}

body {
    @include thin-font;
}

.article-image-wrapper {
    margin: 50px 0px 0px 0px;
    @include aspect-ratio(2, 1);
}

.article-image {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

#article-content {
	margin: 0px 0px 100px 0px;
}


.attachment-container {
	display: block;
	margin: 50px 0px 0px 0px;
}

.attachment-intro {
	text-align: center;
	padding: 0px 5%;
	margin: 0px 0px 20px 0px;
}

.row{
	.panel {
    	float: none;
    	display: table-cell;
    	vertical-align: middle;
    	-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}


.attachment-image {
	width: 100%;
}


.intro {
    padding: 100px 10%;
}

.article-intro {
    padding: 50px 10% 0px 10%;
}

tr.notopborder > td{
  border-top: none !important;
}

.logo-img {
    width: auto;
    height: 100%;
}

.article-title {
    margin-top: 50px;
}

.look-title {
    margin-top: 100px;
}

.product-title {
    margin-top: 100px;
}


.product-subtitle {
    margin-top: 0px;
}

.fill-rest-container {
    flex: 1;
    -webkit-flex: 1;
}

.look-image-wrapper {
    margin: auto;
    @include aspect-ratio(1679, 855);
}

.product-image-wrapper {
    margin: auto;
    @include aspect-ratio(1679, 855);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: contain;
    margin: 20px 0px;
}

.product-image {
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: contain;
}


.product-tryon-button-container {
    background-color: white;
    height: 85px;
    border-top: 40px solid white;
}

.tryon-button-container {
    background-color: white;
    height: 100px;
    border-top: 50px solid #EDEBEB;
}

.square {
    margin: auto;
    @include aspect-ratio(1, 1);
}

.look-image {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.makeup-table {
    margin: 50px 0px;
}


.table > tbody > tr:first-child > td {
    border: none;
}


.center-container {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.header-wrapper {
    margin: auto;
    @include aspect-ratio(7, 1);
}

.header-container {
    display: flex;
    display: -webkit-flex;
}

.user-info-container {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
}

p.user-name {
	margin: 0px;
}


.product-image-container {

    width: 50%;
    height: 50%;
}

.product-image {

    width: 70%;
}

.style-image {
    width: 100%;
}

.text-center {
    text-align:center;
}

img.center {
    display: block;
    margin: 0 auto;
}

.center {
    margin: 0 auto;
}

.inline {
    display: inline;
}

.swatch-container {
    display: flex;
    display: -webkit-flex;
    width: 60%;
}

.swatch-selection-container {
    display:block;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.swatch-selection-table {

    display: block;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 10 !important;
    border-collapse: separate;
    white-space: nowrap;


    td {
        padding: 1px;
    }
}


.half-width {
    width: 50%;
    height: 100%;
}

.user-image {
    height: 70%;
}

.img-circle {
    border-radius: 50%;
}

.color-swatch {

    width: 50%;
    height: 50%;

    empty-cells: show;

    td {
        width: 50%;
        height: 50%;
    }
}

.color-swatch-selection {
    td {
        width: 50%;
        height: 50%;
    }
}


.look-info-wrapper {

    margin: auto;
    @include aspect-ratio(7, 1);

}

.look-info-container {
    width: 100%;
    background-color: #EDEBEB;
    display: flex;
    display: -webkit-flex;
    padding: 0 5%;
}

.article-info-wrapper {
    margin: auto;
    @include aspect-ratio(8, 1);
}

.article-info-container {
    width: 100%;
    background-color: #EDEBEB;
    display: flex;
    display: -webkit-flex;
    padding: 0 5%;
}

.user-name-container {
    margin-left: 5%;
}

.right-container {
    margin-left: auto;
}

.shift-up {
    position:relative;
    top:-25px;
}

.language-list{
    margin-bottom: 0em !important;
    margin-right: 1em;

    select {
    	font-size: 200%;
    }

}



.wrapper {
    overflow-x:hidden;
}


.banner-wrapper {
    @include aspect-ratio(1679, 855);
    margin: auto;
}


.banner-wrapper1 {
    @include aspect-ratio(1679, 240);
    margin: auto;
}

.banner1 {
    background-image: url('../img/banner1.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: contain;
    background-color: black;
}

.banner-wrapper2 {
    @include aspect-ratio(1679, 292);
    margin: auto;
    min-height: 150px;
}


.banner2 {
    background-image: url('../img/banner2.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: cover;
    background-color: black;
}

.half-width-container {
    margin: auto;
    height: 100%;
    width: 50%;
}

.right-container {
    float: right;
}


.left-container {
    float: left;
}


.banner-logo2 {
    @include vertical-align();
    display:block;
    margin: auto;
    width: 40%;
}

.fill-width {
    width:100%;
}

.scene-container {
    margin: 30px 30px;
}

.row .no-float {
    height:100%;
    float: none;
}

.header-horizontal-line {
    height: 1px;
    width: 90%;
    background-color: #ffffff;
    margin: 0 auto;
    display:block;
}

.half-height-container {
    height: 50%;
    display:block;
    margin-left: 5%;
    margin-right: 5%;
}


.bold {
    @include bold-font;
}

.header-title {
    text-align: right;
}

.md-hidden  {
.header-title {
    text-align: center;
    }
}

.main-top {
    background-color: #000000;
}

.main-bottom {
    background-color: #ffffff;
}


p {
    @include thin-font;
    font-weight: 100;
    color: #000000;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.shopping-detail {
    padding: 10px 80px;
}

.btn-primary {
    @include button-variant(black, white, black);
    @include thin-font;
    font-weight: 100;
    padding: 10px 30px 10px;
    border-radius: 0px;
    border: 0px;
    width: 80%;
    margin: 0px 10%;
}

.btn-primary-reverse {
    @extend .btn-primary;
    @include button-variant(white, black, white);
}

.center-block-text {
    @include centre(y);
    display:block;
    width:100%;
    padding: 0px 10px;
    text-align: center;
}

.btn-center {
    @include centre;
}

.store-button {
    display:block;
    min-height: 100px;
    position: relative;
    margin: 80px 0px;
}

.add-to-cart-button {
    display:block;
    min-height: 100px;
    position: relative;
}


.text-dark {
    color: black;
}

li:hover {
   border-top-color: #03f;
   background-color: #bdf;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.country-list{
    border:0px;
    font-size:150%;
    width:100%;
}

.product-arrow {
    font-weight: 100;
    font-size: 800%;
    color: grey;
}

.row-eq-height {
    display: table;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.vcenter {
    vertical-align:middle;
}

.row-eq-height .table-cell {
    display: table-cell;
    float: none;
    vertical-align: top;
}

.flexslider .slides img {
  border: 1px solid #ffffff;
}


.top-icon-container {
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-icon-container.scrolled {
  background-color: #777 !important;
  transition: background-color 200ms linear;
}

.bottom-icon-container {
    width: 100%;
    z-index: 100;
    position: fixed;
    bottom: 0px;
    text-align: center;
    background-color: #777;
    padding-bottom: 10px;
    padding-top: 10px;
}

.social-container {
    width: 100%;
    text-align: center;
    padding: 50px 10px 50px 10px;
}

.social-icon {
    padding: 0px 20px;
    img {
        width: 50px;
        height: 50px;
    }
}

.shopping-bag {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.shopping-bag .btn-center {
    height: 26px;
    width: 26px;
}

.shopping-bag-btn {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    background-size:cover;
    background-position:center center;
    background-image: url('../img/shopping-bag.png');
    text-align: center;
    height: 31px;
    width: 27px;
    padding: 12px 0px 0px 0px;
    border: none;
    background-color: Transparent;
    color: white;
    @include bold-font;
}

.shopping-bag-btn-only {
    @extend .shopping-bag-btn;
    margin-left: 0px;
}

.country-only {
    @extend .country;
    margin-right: 0px;
}

.country {
    display: inline-block;
    vertical-align: middle;
    h3 {
        font-size:32px;
        padding-top: 6px;
        margin: 0px;
    }
}

.product-images {
    margin: 40px 0px 0px 0px;
}

.messages .success {
    color: green;
}

.messages .error {
    color: red;
}

.product-info {
    margin: 30px 0px;
}

.block-center {
    display: block;
    text-align: center;
}

p.block-center {
    margin: 40px 10px 0px 10px;
}

.scene-image {
    width: 100%;
    padding: 10px 10px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.full-width {
    width: 100%;
}


.breadcrumb {
  padding: 8px 15px;
  list-style: none;
  background-color: #000000;
  border-radius: 0px;
  margin-bottom: 0px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #ccc;
}
.breadcrumb > .active {
  color: #777777;
}

.thumbnail {
  display: block;
  padding: 0px;
  margin: 10px 0px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.basket-content {
    background-color: #000;
    padding: 40px 40px;
}

.align-right {
    text-align:right;
}

.zen-detail {
    text-align: center;
}

.checkout-main {
    background-color: #000000;

    h4 {
        margin-top: 50px;
    }
    p.large {
        margin-top: 20px;
    }
}

.checkout-content {
    padding: 0px 50px;
    margin: 50px 0px;
}

.text-field {
    font-size: 20px;
    border-radius: 0px;
    margin: 0px 0px 0px 0px;
    background-color : #000;
}

.checkout-form {
    margin: 60px 0px;
}

.form-submit {
    margin:60px 0px 0px 0px;
}

.order-summary {
    border-left: 1px solid $gray;
}


.basket-items-container {
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    padding-top: 10px;
    padding-bottom: 10px;
}

.checkout-error {
    color: red;
}


.dropdown-select select {
    @extend .text-field;
    background: #000;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-appearance: none;
}

.row .form-group {
    margin-bottom: 30px;
}


.exp-month-fields {
    margin-left: 15px;
    margin-right: 15px;
}


#id_expiry_month_0 {
    display:inline-block;
    width:50%;
    margin-left: -15px;
    margin-right: 13px;
}

#id_expiry_month_1 {
    display:inline-block;
    width:50%;
    margin-left: 13px;
    margin-right: -15px;
}

.carousel-indicators li {
    border: 1px solid black;
    background-color: white;
}

.carousel-indicators .active {
    background-color: black;
}

.carousel-indicators {
  bottom:-50px;
}

.carousel-inner {
    margin-bottom:50px;
    .item {
        margin-top:50px;
    }
}

.stripe-element {
    font-size: 20px;
    border-radius: 0px;
    margin: 0px 0px 0px 0px;
    background-color : #000;
    height:65px;
    @include thin-font;
    margin:0px;
    border:1px solid #ccc;

}

.stripe-form-control {
    padding: 6px 12px;
    @include vertical-align();
}


































a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
    text-decoration:none;
}

a {
    color: white;
}

a:hover,
a:focus,
a:active,
a.active {
    color: white;
}

.title {
    color: black;
}

.titlesection {
    text-align: right;
}

.download-titlesection {
    text-align: left;
}

.top-buffer {
    margin-top:200px;
}
.download-buttons-top-buffer {
    margin-top:20px;
}

.subtitle {
    color: #E63466;
}



.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: $gray-lighter;
}

.bg-darkest-gray {
    background-color: $gray-darker;
}

// Restyled Primary Buttons



.btn-secondary {
    @include button-variant($gray, white, white);
    font-weight: 100;
    border: 1px solid $gray-light;
    padding: 10px 40px 10px 40px;
    margin-right: 20px;
}

.btn-secondary-disabled {
    @extend .btn-secondary;
    @include button-variant($gray-light, $gray-lighter, $gray);
}

.btn-xl {
    @include button-variant(white, $theme-primary, $theme-primary);
    @include bold-font;
    font-weight: 100;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

// Custom Navigation Bar

.navbar-custom {
    background-color: $gray-lighter;
    border-color: transparent;
    .navbar-brand {
        color: $theme-primary;
        @include script-font;
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: darken($theme-primary, 10%);
        }
    }
    .navbar-collapse {
        border-color: fade-out(white, .02);
    }
    .navbar-toggle {
        background-color: $theme-primary;
        border-color: $theme-primary;
        @include bold-font;
        color: white;
        font-size: 12px;
        &:hover,
        &:focus {
            background-color: $theme-primary;
        }
    }
    .nav {
        li {
            a {
                @include bold-font;
                font-weight: 100;
                letter-spacing: 1px;
                color: $gray;
                &:hover,
                &:focus {
                    color: $theme-primary;
                    outline: none;
                }
            }
        }
    }
    .navbar-nav>.active>a {
        border-radius: 0;
        color: white;
        background-color: $theme-primary;
    }
    .navbar-nav>.active>a:hover,
    .navbar-nav>.active>a:focus {
        color: white;
        background-color: darken($theme-primary, 10%);
    }
}

@media(min-width:768px) {
    .navbar-custom {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
        .navbar-brand {
            font-size: 2em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        .navbar-nav>.active>a {
            border-radius: 3px;
        }
    }
}

// Navbar Change on Scroll

@media(min-width:768px) {
    .navbar-custom.affix {
        background-color: $gray-lighter;
        padding: 10px 0;
        .navbar-brand {
            font-size: 1.5em;
        }
    }
}

header {
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    @include background-cover;
    text-align: center;
    .intro-text {
        padding-top: 10px;
        padding-bottom: 50px;
        .intro-lead-in {
            @include serif-font;
            font-style: italic;
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 25px;
        }
        .intro-heading {
            @include bold-font;
            font-weight: 100;
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 25px;
        }
    }
}

@media(min-width:768px) {
    header {
        .intro-text {
            padding-top: 100px;
            padding-bottom: 100px;
            .intro-lead-in {
                @include serif-font;
                font-style: italic;
                font-size: 40px;
                line-height: 40px;
                margin-bottom: 25px;
            }
            .intro-heading {
                @include bold-font;
                font-weight: 100;
                font-size: 75px;
                line-height: 75px;
                margin-bottom: 50px;
            }
        }
    }
}

// Global Section Styles

section {
    padding: 100px 0;
    h2.section-heading {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    h3.section-subheading {
        font-size: 16px;
        @include serif-font;
        text-transform: none;
        font-style: italic;
        font-weight: 100;
        margin-bottom: 75px;
    }
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}

// Services Section

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

// Portfolio Section

#portfolio {
    .portfolio-item {
        margin: 0 0 15px;
        right: 0;
        .portfolio-link {
            display: block;
            position: relative;
            max-width: 400px;
            margin: 0 auto;
            .portfolio-hover {
                background: fade-out($theme-primary, .9);
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all ease 0.5s;
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                &:hover {
                    opacity: 1;
                }
                .portfolio-hover-content {
                    position: absolute;
                    width: 100%;
                    height: 20px;
                    font-size: 20px;
                    text-align: center;
                    top: 50%;
                    margin-top: -12px;
                    color: white;
                    i {
                        margin-top: -12px;
                    }
                    h3,
                    h4 {
                        margin: 0;
                    }
                }
            }
        }
        .portfolio-caption {
            max-width: 400px;
            margin: 0 auto;
            background-color: white;
            text-align: center;
            padding: 25px;
            h4 {
                text-transform: none;
                margin: 0;
            }
            p {
                @include serif-font;
                font-style: italic;
                font-size: 16px;
                margin: 0;
            }
        }
    }
    * {
        z-index: 2;
    }
}

@media(min-width:767px) {
    #portfolio {
        .portfolio-item {
            margin: 0 0 30px;
        }
    }
}

.vertical-align {
    display: flex;
    align-items: center;
}

// Timeline

.timeline {
    list-style: none;
    padding: 0;
    position: relative;
    &:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: "";
        width: 2px;
        left: 40px;
        margin-left: -1.5px;
    }
    > li {
        margin-bottom: 50px;
        position: relative;
        min-height: 50px;
        &:before,
        &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
        .timeline-panel {
            width: 100%;
            float: right;
            padding: 0 20px 0 100px;
            position: relative;
            text-align: right;
        }
        .timeline-image {
            left: 0;
            margin-left: 0;
            width: 400px;
            height: 400px;
            position: absolute;
            z-index: 100;
            h4 {
                font-size: 10px;
                margin-top: 12px;
                line-height: 14px;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .timeline-heading {
        h4 {
            margin-top: 0;
            color: inherit;
            &.subheading {
                text-transform: none;
            }
        }
    }
    .timeline-body {
        > p,
        > ul {
            margin-bottom: 0;
        }
    }
}

@media(min-width:768px) {
    .timeline {
        &:before {
            left: 50%;
        }
        > li {
            margin-bottom: 100px;
            min-height: 100px;
            .timeline-panel {
                width: 41%;
                float: left;
                padding: 0 20px 20px 30px;
                text-align: right;
            }
            .timeline-image {
                width: 100px;
                height: 100px;
                left: 50%;
                margin-left: -50px;
                h4 {
                    font-size: 13px;
                    margin-top: 16px;
                    line-height: 18px;
                }
            }
        }
    }
}

@media(min-width:992px) {
    .timeline {
        > li {
            min-height: 150px;
            .timeline-panel {
                padding: 0 20px 20px;
            }
            .timeline-image {
                width: 150px;
                height: 150px;
                margin-left: -75px;
                h4 {
                    font-size: 18px;
                    margin-top: 30px;
                    line-height: 26px;
                }
            }
            &.timeline-inverted > .timeline-panel {
                padding: 0 20px 20px;
            }
        }
    }
}

@media(min-width:1200px) {
    .timeline {
        > li {
            min-height: 170px;
            .timeline-panel {
                padding: 0 20px 20px 100px;
            }
            .timeline-image {
                width: 170px;
                height: 170px;
                margin-left: -85px;
                h4 {
                    margin-top: 40px;
                }
            }
            &.timeline-inverted > .timeline-panel {
                padding: 0 100px 20px 20px;
            }
        }
    }
}

// Team Section

.team-member {
    text-align: center;
    margin-bottom: 50px;
    img {
        margin: 0 auto;
        border: 7px solid white;
    }
    h4 {
        margin-top: 25px;
        margin-bottom: 0;
        text-transform: none;
    }
    p {
        margin-top: 0;
    }
}

// Clients Aside

aside.clients {
    img {
        margin: 50px auto;
    }
}

p.footer-text {
    display:block;
    width:100%;
    color:$gray-light;
    font-size:100%;
    margin:0px;
    text-align: center;
}

p.footer-text-black {
    @extend .footer-text;
    color:$gray;

}

.footer {
    margin: 0px 0px 80px 0px;
}

// Footer

footer {
    padding: 25px 0;
    text-align: center;
    span.copyright {
        line-height: 40px;
        @include bold-font;
        text-transform: none;
    }
    ul.quicklinks {
        margin-bottom: 0;
        line-height: 40px;
        @include bold-font;
        text-transform: none;
    }
}

// Social Buttons

ul.social-buttons {
    margin-bottom: 0;
    li {
        a {
            display: block;
            background-color: $gray-darker;
            height: 40px;
            width: 40px;
            border-radius: 100%;
            font-size: 20px;
            line-height: 40px;
            color: white;
            outline: none;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            &:hover,
            &:focus,
            &:active {
                background-color: $theme-primary;
            }
        }
    }
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}

// Highlight Color Customization


img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}
